{{#if addNewSpace}}
<div>
  <form>
    <div class="form-group">
      <label for="name" class="about">Name</label>
      {{input value=name id="name" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="location" class="about">Location</label>
      {{input value=location id="location" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="description" class="about">Description</label>
      {{input value=description id="description" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="image" class="about">Image</label>
      {{input value=image id="image" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="price" class="about">Price</label>
      {{input value=price id="price" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="seat" class="about">SEATS AVAILABLE</label>
      {{input value=seat id="seat" class="form-control"}}
    </div>
    <div class="form-group">
       <label for="latitude" class="about">Latitude</label>
       {{input value=latitude id="latitude" class="form-control"}}
     </div>

     <div class="form-group">
       <label for="longitude" class="about">Longitude</label>
       {{input value=longitude id="longitude" class="form-control"}}
     </div>
    <button {{action 'saveSpace'}} class="btn btn-info">Save</button>
  </form>
</div>
{{else}}
<button {{action 'showSpaceForm'}} class="btn btn-default">New Space</button>
{{/if}}
