{{#if addNewSpace}}
<div>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      {{input value=name id="name" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      {{input value=location id="location" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      {{input value=description id="description" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      {{input value=image id="image" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      {{input value=price id="price" class="form-control"}}
    </div>
    <div class="form-group">
      <label for="seat">SEATS AVAILABLE</label>
      {{input value=seat id="seat" class="form-control"}}
    </div>
    <button {{action 'saveSpace'}} class="btn btn-info">Save</button>
  </form>
</div>
{{else}}
<button {{action 'showSpaceForm'}} class="btn btn-default">New Space</button>
{{/if}}
