<div class="row dynamic-row">
  <h1 class="text-center welcome workspacename">{{space.name}}</h1>
</div>
<div class="row">

  <div class="col-md-4">
    <h2 class="text-center about">About the space</h2>
    <p class="about text-center">{{space.description}}</p>
    <h2 class="text-center about">Prices</h2>
    <p class="about text-center">KSH{{space.price}}</p>
    <h2 class="text-center about">Location</h2>
    <p class="about text-center">{{space.location}}</p>
    <h2 class="text-center about">SEATS AVAILABLE</h2>

    <p class="about text-center">{{space.seat}}</p>





    <strong>Reviews</strong>
    <div class="reviews well row">
      {{#each space.reviews as |review|}}
        {{review-tile review=review}}
      {{/each}}
    </div>
  </div>
  <div class="col-md-8">
    <h2 class="text-center about">PHOTOS OF THE WORKSPACE</h2>
    <img src= {{space.image}} alt="space1" class="img-responsive detail-image">

  </div>
</div>
<div class="row">
  <h2 class="welcome">SEATS BOOKED</h2>
  {{#each space.bookings as |booking|}}
    <h2>{{booking.reserve}}</h2>
  {{/each}}
</div>

