<div class="col-md-3">
{{#link-to 'tile' space.id}}<div class="well">
  {{space.name}}<br>
  {{space.location}}<br>
  {{space.description}}<br>
  {{space.price}}<br>
  <img src={{space.image}} alt="space1" class="img-responsive">
</div>{{/link-to}}
</div>