<div class="row dynamic-row">
  <h1 class="text-center welcome workspacename">{{space.name}}</h1>
</div>
<div class="row">

  <div class="col-md-6">
    <h1 class="text-center about">ABOUT THE SPACE</h1>
    <hr>
    <p class="welcome text-center">{{space.description}}</p>
    <hr>
    <h1 class="text-center about">PRICE PER DAY</h1>
    <p class="welcome text-center">KSH{{space.price}}</p>
    <h1 class="text-center about">LOCATION</h1>
    <p class="welcome text-center">{{space.location}}</p>
    <h1 class="text-center about">SEATS</h1>
    <p class="welcome text-center">{{space.seat}}</p>


  </div>
  <div class="col-md-6">
    <h2 class="text-center about">PHOTOS OF THE WORKSPACE</h2>
    <img src= {{space.image}} alt="space1" class="hvr-grow-shadow img-responsive detail-image">

  </div>
</div><br>



<!-- amenities row display -->
<div class="row well">
  <div class="col-md-6">
    <h1 class="text-center about">REVIEWS</h1>
    {{#each space.reviews as |review|}}
      {{review-tile review=review}}
    {{/each}}
  </div>
  <div class="col-md-6">
    <h1 class="text-center about">SEATS BOOKED</h1>
    {{#each space.bookings as |booking|}}
      <h2 class="text-center">{{booking.reserve}}</h2>
    {{/each}}
  </div>

</div>
