<div class="row dynamic-row">
  <h1 class="text-center welcome workspacename">{{space.name}}</h1>
</div>
<div class="row">
  <div class="col-md-2">
    <h2 class="text-center about">About the space</h2>
    <p class="about text-center">{{space.description}}</p>
    <h2 class="text-center about">Prices</h2>
    <p class="about text-center">KSH{{space.price}}</p>
    <h2 class="text-center about">Location</h2>
    <p class="about text-center">{{space.location}}</p>
  </div>
  <div class="col-md-10">
      <h2 class="text-center about">photos of the work-spaces</h2>
    <img src={{space.image}} alt="space1" class="img-responsive detail-image">

  </div>
</div>
